site_name: nbautoexport
site_description: Automatically export Jupyter notebooks to various file formats (.py, .html, and more) on save.
repo_url: https://github.com/drivendataorg/nbautoexport
theme: 
  name: readthedocs

nav:
  - About: 'index.md'
