name: tests

on:
  push:
    branches: [ master ]
  pull_request:
  schedule:
    # Run every Sunday
    - cron: '0 0 * * 0'

jobs:
  build:
    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]

    steps:

    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }} with Miniconda
      uses: goanpeca/setup-miniconda@v1
      with:
        python-version: ${{ matrix.python-version }}
        channels: conda-forge

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        which python
        python --version
        python -m pip install --upgrade pip
        python -m pip install -r requirements-dev.txt
        conda install pandoc

    - name: Install TinyTex
      uses: r-lib/actions/setup-tinytex@v1

    - name: Install LaTeX
      shell: bash -l {0}
      run: |
        tlmgr install xetex

    - name: Lint package
      shell: bash -l {0}
      run: |
        make lint

    - name: Run tests
      shell: bash -l {0}
      run: |
        make test

    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        fail_ci_if_error: true
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.8
